@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/GothamProNarrow-Bold.eot");
  src: local("☺"), url("../fonts/Gotham/GothamProNarrow-Bold.woff") format("woff"), url("../fonts/Gotham/GothamProNarrow-Bold.ttf") format("truetype"), url("../fonts/Gotham/GothamProNarrow-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/GothaProMed.eot");
  src: local("☺"), url("../fonts/Gotham/GothaProMed.woff") format("woff"), url("../fonts/Gotham/GothaProMed.ttf") format("truetype"), url("../fonts/Gotham/GothaProMed.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

body {
  position: relative;
}

body header {
  min-height: 100vh;
  background-image: url("../image/fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

body header .limit {
  max-width: 1390px;
  height: 100%;
  margin: 0 auto;
  padding: 90px 18px 0;
}

@media (max-width: 1200px) {
  body header .limit {
    padding: 30px 18px 20px;
  }
}

body header .limit nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 10vh;
}

body header .limit nav .logo {
  width: 120px;
}

body header .limit nav .logo img {
  width: 100%;
}

body header .limit nav .burger {
  display: none;
}

@media (max-width: 600px) {
  body header .limit nav .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body header .limit nav .burger .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 27px;
  position: fixed;
  right: 20px;
  z-index: 1000;
}

body header .limit nav .burger .btn .line {
  width: 30px;
  height: 4px;
  background-color: #62d0e4;
  -webkit-transition: .3s;
  transition: .3s;
}

body header .limit nav .burger .link {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 800;
  width: 100%;
  height: 100vh;
  background-color: #1c242ad0;
  padding: 8px 25px 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

body header .limit nav .burger .link p {
  margin: 10px 0;
}

body header .limit nav .burger .link p a {
  color: #ffffff;
  font-family: "Gotham";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}

body header .limit nav .burger .link p a:hover {
  color: #bb9c66;
}

body header .limit nav .active .btn .line:nth-child(1) {
  -webkit-transform: rotateZ(-45deg) translateX(-9px) translateY(8px);
          transform: rotateZ(-45deg) translateX(-9px) translateY(8px);
}

body header .limit nav .active .btn .line:nth-child(2) {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

body header .limit nav .active .btn .line:nth-child(3) {
  -webkit-transform: rotateZ(-45deg) translateX(8px) translateY(-8px);
          transform: rotateZ(-45deg) translateX(8px) translateY(-8px);
}

body header .limit nav .active .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .limit nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 15px;
}

@media (max-width: 600px) {
  body header .limit nav .menu {
    display: none;
  }
}

body header .limit nav .menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .limit nav .menu div p {
  position: relative;
  margin: 0 20px;
}

body header .limit nav .menu div p::after {
  position: absolute;
  bottom: -200%;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #28c8c6;
  -webkit-transition: .4s transform;
  transition: .4s transform;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

body header .limit nav .menu div p:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

body header .limit nav .menu div p a {
  color: #ffffff;
  font-family: "Gotham";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

body header .limit nav .menu div .active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

body header .limit nav .menu i {
  margin-left: 10px;
}

body header .limit .contentHeader .text {
  max-width: 530px;
}

body header .limit .contentHeader .text h1 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
  margin: 0 0 35px;
}

@media (max-width: 500px) {
  body header .limit .contentHeader .text h1 {
    font-size: 25px;
    line-height: 35px;
  }
}

body header .limit .contentHeader .text p {
  color: #ffffff;
  font-family: "Gotham";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 25px;
}

body header .limit .contentHeader .scrollDown {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  z-index: 100;
}

body header .limit .contentHeader .scrollDown a {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

body header .limit .contentHeader .scrollDown a i {
  font-size: 25px;
  color: #28c8c6;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

body main #systemIt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 100;
  background-color: #f6f9fc;
  background-image: url(../image/box_dataportal_1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

body main #systemIt .limit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  padding: 40px 20px;
  margin: 0 60px 0 0;
  text-align: center;
  min-height: 100vh;
}

body main #systemIt .limit h2 {
  color: #333b42;
  font-family: "Gotham";
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

body main #systemIt .limit p {
  max-width: 800px;
  color: #74797e;
  font-family: "Gotham";
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  margin: 0 0 70px 0;
}

body main #BDIt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  z-index: 101;
  background-color: #ffffff;
  background-image: url("../image/big-data.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right;
}

body main #BDIt .limit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  padding: 40px 20px;
  margin: 0 0 0 60px;
  text-align: center;
  min-height: 100vh;
}

body main #BDIt .limit h2 {
  color: #333b42;
  font-family: "Gotham";
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

body main #BDIt .limit p {
  max-width: 800px;
  color: #74797e;
  font-family: "Gotham";
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  margin: 0 0 70px 0;
}

body main #BDIt .limit .teh {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main #sqlIt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 101;
  background-color: #f6f9fc;
  background-image: url("../image/cropped-SQL2019-1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 50px;
}

body main #sqlIt .limit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  padding: 40px 20px;
  margin: 0 60px 0 0;
  text-align: center;
  min-height: 100vh;
}

body main #sqlIt .limit h2 {
  color: #333b42;
  font-family: "Gotham";
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

body main #sqlIt .limit p {
  max-width: 800px;
  color: #74797e;
  font-family: "Gotham";
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  margin: 0 0 70px 0;
}

@media (max-width: 1350px) {
  body main #systemIt, body main #BDIt, body main #sqlIt {
    background-image: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main #systemIt .limit, body main #BDIt .limit, body main #sqlIt .limit {
    margin: 0 0 0 0;
  }
}

@media (max-width: 500px) {
  body main #systemIt .limit h2, body main #BDIt .limit h2, body main #sqlIt .limit h2 {
    font-size: 30px;
  }
  body main #systemIt .limit p, body main #BDIt .limit p, body main #sqlIt .limit p {
    font-size: 20px;
    text-align: left;
  }
}

@media (max-width: 360px) {
  body main #systemIt .limit h2, body main #BDIt .limit h2, body main #sqlIt .limit h2 {
    font-size: 25px;
  }
  body main #systemIt .limit p, body main #BDIt .limit p, body main #sqlIt .limit p {
    font-size: 15px;
    text-align: left;
  }
}

body footer .limit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 50px 20px 50px;
}

body footer .limit .linkFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

body footer .limit .linkFooter div:first-child {
  margin-right: 80px;
}

body footer .limit .linkFooter div:first-child p a {
  width: 100px;
  color: #8297a7;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
}

body footer .limit .linkFooter > div:last-child p {
  text-align: right;
  color: #8297a7;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
}

body footer .limit .textFooter p {
  color: #8297a7;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
}

body .elevatorUp {
  position: absolute;
  z-index: 110;
  padding-top: 680px;
  top: 0;
  right: 0px;
  width: 72px;
  height: 100%;
}

@media (max-width: 850px) {
  body .elevatorUp {
    display: none;
  }
}

body .elevatorUp .btn {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  height: 72px;
  border-radius: 5px;
  background-color: #8500d21e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body .elevatorUp .btn:hover {
  background-color: #8500d2;
}

body .elevatorUp .btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

body .elevatorUp .btn a i {
  font-size: 25px;
  color: #ffffff;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

body .teh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .teh .button {
  width: 170px;
  height: 50px;
  border-radius: 5px;
  background-color: #8500d2;
}

body .teh .button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-family: "Gotham";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

body .scrollDown {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background-color: #28c8c6;
  border-radius: 50%;
}

@media (max-width: 850px) {
  body .scrollDown {
    display: none;
  }
}

body .scrollDown a {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

body .scrollDown a i {
  font-size: 25px;
  color: #ffffff;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
